<header class="clearfix">
  <ul class="list-inline">
    <div class="container">
      <div class="row">
        <li class="col-xs-1 col-md-1"></li>
        <li>
          <div class="col-xs-3 col-md-2">
            <%= link_to "トップ", root_path, :class => "navbar-link" %>
          </div>
        </li>
        <li class="col-xs-4 col-md-2"></li>
        <% if user_signed_in? %>
          <li>
            <div class="col-xs-3 col-md-2">
              <%= link_to "服の登録", new_wear_path, :class => "navbar-link" %>
            </div>
          </li>
          <li>
            <div class="col-xs-3 col-md-2">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => "navbar-link" %>
            </div>
          </li>
        <% else %>
          <li>
            <div class="col-xs-3 col-md-2">
              <%= link_to "登録", new_user_registration_path, :class => "navbar-link" %>
            </div>
          </li>
          <li>
            <div class="col-xs-3 col-md-2">
              <%= link_to "ログイン", new_user_session_path, :class => "navbar-link" %>
            </div>
          </li>
        <% end %>
      </div>
    </div>
  </ul>
</header>